<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yupog2003.tripdiary"
    android:installLocation="auto">

    <permission
        android:name="com.yupog2003.tripdiary.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.yupog2003.tripdiary.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".TripDiaryApplication"
        android:allowBackup="true"
        android:backupAgent=".data.MyBackupAgent"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewActivity"
            android:label="@string/title_activity_view" />

        <service
            android:name=".services.RecordService"
            android:exported="false"
            android:stopWithTask="false" />

        <activity
            android:name=".ViewPointActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_view_point" />
        <activity
            android:name=".PlayPointActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_play_point" />
        <activity
            android:name=".PreferActivity"
            android:label="@string/title_activity_preference" />
        <activity
            android:name=".CategoryActivity"
            android:label="@string/title_activity_category" />
        <activity
            android:name=".PaintActivity"
            android:label="@string/title_activity_paint" />
        <activity android:name=".ViewCostActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAI70FoJq0n2rVYt_ETDwHhXfMLcPdoi9lLBBtpqA" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAzPVZdjSt1ODGT9gNuTvbjZWUgpgKG-Q4"/>
        <!-- publish key=  AIzaSyAzPVZdjSt1ODGT9gNuTvbjZWUgpgKG-Q4 -->
        <!-- debug key=    AIzaSyC4u43XXHl2AEk92DS-W13IC8vNDQRBJNk -->

        <service
            android:name=".services.SendTripService"
            android:exported="false" />
        <service
            android:name=".services.DownloadTripService"
            android:exported="false" />

        <activity
            android:name=".ViewTripActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:documentLaunchMode="always"
            android:label="@string/view_trip"
            android:launchMode="standard"
            android:maxRecents="3"
            android:persistableMode="persistNever">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="yupog2003.idv.tw"
                    android:pathPrefix="/TripDiary/Trip.html"
                    android:scheme="http" />
                <data
                    android:host="219.85.61.62"
                    android:pathPrefix="/TripDiary/Trip.html"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllRecordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/lifetime_record" />
        <activity android:name=".MyActivity" />
        <activity
            android:name=".MultiFileChooseActivity"
            android:label="@string/import_files" />
        <activity
            android:name=".RecordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />

        <service
            android:name=".services.GenerateVideoService"
            android:exported="false" />

        <activity
            android:name=".GetContentActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewGraphActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RestoreTripActivity"
            android:label="@string/restore_trip"
            android:theme="@style/Theme.AppCompat.Light.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/zip" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.BackupRestoreTripService"
            android:exported="false" />

        <activity android:name=".DummyActivity" />
    </application>

</manifest>
